*{

  margin: 0;
  padding: 0;
}
body{
  background-color: #DADADA;

}

.login{
  border: solid 1px #AFAFAF;
  width: 300px;
  margin: 10px auto;
  padding: 50px;
  text-align: center;
  background-color: #ffffff;
}

.campo{
  padding: 10px 15px;
  width: 250px;
  border: solid 2px #AFAFAF;
  border-radius: 5px;
  background-color: #DADADA;
  margin-bottom: 20px;
  margin-top: 10px;
}

.login img{
  margin-bottom: 10px;
}

.botao{
  padding: 10px 30px;
  background-color: #3333ff;
  border: solid 2px #000099;
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.botao:hover{
  background-color: #1a1aff;
}

.menu{
  padding-left: 10px;
  padding-right: 5px;
  float: left;
  background-color: #cacaca;
}

.corpo{
  padding-left: 10px;
  float: left;
  background-color: #dbdbdb;
}

.menu h1{
  padding-top: 50px;
  font-family: 'Oswald', sans-serif;
  }

.menu h2, .menu h3{
  padding-top: 50px;
  font-family: 'Ubuntu', sans-serif;
}

.menu li, .menu p{
  font-family: 'Raleway', sans-serif;
}

.menu li:hover{
  background-color: #aaa;
  color: white;
}

.menu li a{
  color: black;
}

.menu ul{
  margin-left: 20px;
}
